asgiref==3.11.0
Django==6.0.1
django-cors-headers==4.9.0
django-environ==0.12.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
psycopg==3.3.2
psycopg-binary==3.3.2
PyJWT==2.11.0
sqlparse==0.5.5
typing_extensions==4.15.0
whitenoise==6.11.0
gunicorn
psycopg[binary]
dj-database-url
